<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925014991534-8j6h1gkfc75s7ic966ru3dtrg2v2gdeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925014991534-8j6h1gkfc75s7ic966ru3dtrg2v2gdeu</string>
	<key>API_KEY</key>
	<string>AIzaSyDpkN9l3pm10P6BMv16RwvsixJ9yudL6Xo</string>
	<key>GCM_SENDER_ID</key>
	<string>925014991534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>proj-82bcb</string>
	<key>STORAGE_BUCKET</key>
	<string>proj-82bcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925014991534:ios:dc4e39099ac4c6206c033f</string>
	<key>DATABASE_URL</key>
	<string>https://proj-82bcb-default-rtdb.firebaseio.com</string>
</dict>
</plist>